
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    width: 300px;
    background-color: white;

    display: flex; /* Enables Flexbox */
    flex-direction: column; /* Align items in a column */
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically */
    background-color: white;
    text-align: center;
  }
  
  h1 {
    margin-left: 30px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    font-family: monospace;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;

    font-style: italic;
  }
  
  button {
    padding: 10px 15px;
  
    
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: aliceblue;
    height: 45px;
    width: 115px;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    color:black ;
    cursor: pointer; 
    transition: background-color ;
  }
  button:hover{
    background-color: grey;
    color: white;

  }
  
  
  #results {
    margin-top: 20px;
  }
  
  #colors div {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    border: 1px solid #ccc;
  }
  #colors:hover{
    cursor: pointer;

  }
  #fonts {
    list-style-type: none;
    padding: 0;
  }
  


  