
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    width: 300px;
    background-color:#88B04B;
  }
  
  h1 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  button {
    font-size: 10px;
    background-color: aliceblue;
    height: 45px;
    width: 115px;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    color:black ;
    cursor: pointer;
    transition: background-color 0.5s,color 0.5s ;
  }
  button:hover{
    box-shadow: 9px -4px 10px rgba(0, 0, 0 ,0.3);
    background-color: grey;
    color: white;

  }
  
  
  #results {
    margin-top: 20px;
  }
  
  #colors div {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    border: 1px solid #ccc;
  }
  
  #fonts {
    list-style-type: none;
    padding: 0;
  }
  